<nav class="navbar">
    <div class="logo">
        <a routerLink="home"><img src="assets/logo.png" alt="Logo"></a>
    </div>
    <div class="nav-links">
        <ul>
            <li><a routerLink="home">الرئيسية</a></li>
            <li><a href="#vision">رؤيتنا</a></li>
            <li><a href="#section5">احجز الآن</a></li>
            <li><a href="#section3">تعرف علينا</a></li>
            <li><a routerLink="plants">تعرف على ما نزرع</a></li>
            <li><a href="system">كيف يعمل النظام</a></li>
        </ul>
    </div>
    <div class="contact">
        <a id="tel"href="tel:+20 155 446 9607">01554469607اتصل بنا</a>
        <a href="https://wa.me/+201554469607" target="_blank">تواصل معنا</a>
        <a href="https://wa.me/+201554469607" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
  </nav>
