
    <section id="plants">
    <h1>تعرف على ما نقوم بزراعته</h1>
    <p class="descr">نبذة عن كل نبات و احتياجات زراعته و كل ما يخص عملية زراعته</p>
    <div class="part2">
        <img src="assets/Tomato.jpg" alt="Image">
        <div>
            <h3> <strong>الطماطم</strong>: </h3>
            <p>
                تحتاج زراعة الطماطم إلى جو معتدل مائل إلى الدفء، حيث تفضل درجات حرارة تتراوح بين 20-25 درجة مئوية. أما الرطوبة، فتحتاج إلى نسبة معتدلة (حوالي 60-70%). تحتاج إلى تهوية جيدة لتجنب الأمراض الفطرية. من حيث الري، يجب أن تكون التربة رطبة ولكن ليست مشبعة بالماء. تستغرق الطماطم حوالي 60-80 يومًا حتى تنضج.
            </p>
            <p><strong>الأمراض الشائعة:</strong> اللفحة المتأخرة، البياض الدقيقي، العفن الرمادي، وفيروس تجعد الأوراق.</p>
        </div>
    </div>
    
    <div class="part2">
        <div>
            <h3><strong>البصل</strong>: </h3>
            <p>
                يفضل البصل أجواء معتدلة إلى باردة قليلاً، مع درجات حرارة بين 15-25 درجة مئوية. الرطوبة المثالية تكون حوالي 50-60%. التهوية الجيدة ضرورية، خاصة في مراحل النمو الأولى. يحتاج البصل إلى ري منتظم، مع تقليل الري في مراحل النضج. يستغرق البصل حوالي 100-150 يومًا حتى ينضج.
            </p>
            <p><strong>الأمراض الشائعة:</strong> العفن الأبيض، البياض الزغبي، التبقع الأرجواني، وذبول الفيوزاريوم.</p>
        </div>
        <img src="assets/Red-Onion.jpg" alt="Image">
    </div>
    
    <div class="part2">
        <img src="assets/wheat.jpg" alt="Image">
        <div>
            <h3> <strong>القمح</strong>:</h3>
            <p>
                يحتاج القمح إلى جو معتدل إلى بارد، حيث تنمو أفضل في درجات حرارة بين 10-24 درجة مئوية. الرطوبة المثلى تكون منخفضة إلى متوسطة (40-50%). التهوية ليست ضرورية بدرجة كبيرة، لكنها تساعد على منع التعفن في المراحل الأولى. يحتاج القمح إلى ري منتظم، ولكن يمكن الاعتماد على مياه الأمطار في كثير من الأحيان. تستغرق دورة نمو القمح حوالي 90-120 يومًا.
            </p>
            <p><strong>الأمراض الشائعة:</strong> صدأ الأوراق، صدأ الساق، التفحم المغطى، ولفحة القمح.</p>
        </div>
    </div>
    
    <div class="part2">
        <div>
            <h3><strong>الفلفل</strong>: </h3>
            <p>
                يحتاج الفلفل إلى جو دافئ ومشمس، مع درجات حرارة تتراوح بين 18-30 درجة مئوية. الرطوبة المثلى لزراعة الفلفل تتراوح بين 50-60%. التهوية الجيدة ضرورية لتجنب الأمراض، ويحتاج الفلفل إلى ري معتدل بحيث تكون التربة رطبة دون تشبع. يستغرق الفلفل حوالي 70-90 يومًا للنضج.
            </p>
            <p><strong>الأمراض الشائعة:</strong> العفن الطري، البياض الدقيقي، ذبول الفيوزاريوم، وفيروس الموزاييك.</p>
        </div>
        <img src="assets/felfel.jpeg" alt="Image">
    </div>
    
</section>
