<div class="header">
  <h1>كيف يعمل نظامنا الذكي</h1>
<p>
  نظامنا الذكي مصمم لتقديم حلول متكاملة للزراعة الحديثة. </p>
</div>
<div class="body">
<div class="grid-container">
    <div class="card">
      <img src="assets/smartsystem.png" alt="image">
      <div class="card-content">
        <h3>الاستدامة</h3>
        <p> يعزز النظام الإنتاجية ويجعل الزراعة عملية مستدامة من خلال تحسين استخدام الموارد وتقليل الفاقد</p>
        <h3>تشغيل ذاتي</h3>
        <p>يعمل المشروع تلقائيًا من خلال برمجته وفقًا لاحتياجات النبات المحددة، مما يضمن تقديم الظروف المثالية للنمو.</p>
      </div>
    </div>
    <div class="card">
     <img class="app" src="assets/screens.png" alt="image">
      <div class="card-content">
        <h3>إشراف كامل</h3>
        <p>يوفر النظام إشرافًا شاملاً على البيئة الزراعية، بما في ذلك عرض مستويات الرطوبة ودرجة الحرارة في الوقت الفعلي.</p>
        <h3>تحكم ذكي</h3>
        <p>يتيح التطبيق الخاص بالنظام التحكم الكامل بنظام التسميد الذكي بسهولة وسرعة.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="assets/5.jpg" alt="dashboard image" >
      <div class="card-content">
        <h3>تطوير وإضافة</h3>
        <p>يمكن توفير البيانات وإحداثيات الحساسات والعملية الزراعية على منصة تعرض بشكل dashboard كامل.</p>
      </div>
    </div>
    <div class="card">
      <video autoplay loop muted controls style="max-width: 100%; margin-top: 10px;">
        <source src="assets/7.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="card-content">
        <h3>إعطاء إحداثيات باستخدام تقنية إنترنت الأشياء (IOT)</h3>
        <p>النظام يوفر بيانات دقيقة عن طريق تقنية إنترنت الأشياء (IOT).</p>
      </div>
    </div>
  </div>
</div>